Source: xtk
Priority: extra
Maintainer: Niv Sardi <xaiki@debian.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/xtk.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/xtk.git;a=summary

Package: xtk-dev
Section: libdevel
Architecture: any
Depends: xtkBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: xtkBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
